<div class="flex justify-center">
  <div class="block p-6 rounded-lg shadow-lg bg-white w-6/12 my-3">
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
      <%= link_to quote.book.title, quote_path(quote) %>
    </h5>
    <p class="text-gray-700 text-base mb-4">
      <%= quote.content %>
    </p>
    <p class="text-gray-500 text-base mb-4">
      <%= quote.likes.count %> like(s)
    </p>
    <% if user_signed_in? %>
      <% if quote.liked_by?(current_user)  %>
        <%= button_to "Unlike", likes_path(quote_id: quote.id, page: params['page']), method: :delete, class: "text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      <% else %>
        <%= button_to "Like", likes_path(quote_id: quote.id, page: params['page']), class: "text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 dark:shadow-lg dark:shadow-pink-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      <% end %>
    <% end %>
    <% if policy(quote).update? %>
      <%= link_to t('quotes.edit_quote'), edit_quote_path(quote), class: "inline-block px-6 py-2.5 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
      <%= link_to t('quotes.delete_quote'), quote_path(quote), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"%>
    <% end %>
  </div>
</div>
