<h1>Quotes</h1>

<%== pagy_nav(@pagy) %>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Book</th>
      <th colspan="3">Actions</th>
    </tr>
    <% @quotes.each do |quote| %>
    <tr>
      <td><%= quote.content %></td>
      <td><%= quote.book.title %></td>
      <td><%= link_to "Show", quote_path(quote) %></td>
      <td><%= link_to "Edit", edit_quote_path(quote) %></td>
      <td><%= link_to "Delete", quote_path(quote), method: :delete, data: { confirm: "Are you sure?" }%></td>
    </tr>
    <% end %>
  </thead>
</table>
<%== pagy_nav(@pagy) %>
