<h1>This is author's index page</h1>

<% @authors.each do |author| %>
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Date of birth</th>
        <th>Wikipedia url</th>
        <th>Doodreads url</th>
        <th>User ID</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= author.first_name %></td>
        <td><%= author.last_name %></td>
        <td><%= author.date_of_birth %></td>
        <td><%= author.wikipedia_url %></td>
        <td><%= author.goodreads_url %></td>
        <td><%= author.user_id %></td>
        <td><%= link_to "Show", author_path(author) %></td>
        <td><%= link_to "Edit", edit_author_path(author) %></td>
        <td><%= link_to "Delete", author_path(author), method: :delete, data: { confirm: "Are you sure?" }%></td>
      </tr>
    </tbody>
  </table>
  <%end%>
  