<h1>This is author's show page</h1>
<h2><%= @author.full_name %></h2>
<p><%= @author.date_of_birth %></p>
<p><%= @author.wikipedia_url %></p>
<p><%= @author.goodreads_url %></p>
<p><%= @author.user_id %></p>
