<div class="w-full max-w-xs">
  <%= form_with(model: @book, local:true) do |f| %>
    <div class="mb-4">
      <%= f.label :title, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= f.text_field :title, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %><br>
    </div>
    <div class="mb-4">
      <%= f.label :year_of_publication, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= f.number_field :year_of_publication, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %><br>
    </div>
    <div class="mb-4">
      <%= f.label :wikipedia_url, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= f.text_field :wikipedia_url, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %><br>
    </div>
    <div class="mb-4">
      <%= f.label :goodreads_url, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= f.text_field :goodreads_url, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %><br>
    </div>
    <div class="mb-4">
      <%= f.label :author_id, class: "block text-gray-700 text-sm font-bold mb-2" %><br>
      <%= f.select :author_id, Author.all.collect {|a| [ a.first_name, a.id ] }, { include_blank: true }, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %><br>
    </div>
    <div class="mb-4">      
      <%= f.submit :submit, class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
