<h1>This is book's show page</h1>
<h2><%= @book.title %> </h2>
<p><%= @book.year_of_publication %></p>
<p><%= @book.wikipedia_url %></p>
<p><%= @book.goodreads_url %></p>
<p><%= @book.author.full_name %></p>
